.envrc
flake.lock
flake.nix
.direnv/
*/build/
emulator/src/alu
.vscode/settings.json
.vscode/c_cpp_properties.json

*.vcxproj
*.vcxproj.filters
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
/.vs/CMake Overview
/.vs
/CMakeSettings.json
